/* body{
    background-color: rgb(242, 228, 237);
} */

/* td{
    border: 2px solid black;
} */

/* Day 8 */
/* p{
    background-color: blue;
}

a{
    background-color: rgb(235, 115, 17);
}

div{
    background-color: aquamarine;
}

span{
    background-color: aqua;
} */

/* Day 9 */

/* targetting classes */
/* .red{
    color: red;
}

.bg-yellow{
    background-color: yellow;
}
.bg-blue{
    background-color: blue;
}

/*Trgetting ids*/

/* #firstdiv{
    text-align: center;
}

#seconddiv{
    text-decoration: line-through;
}  */
