@import url('https://fonts.googleapis.com/css2?family=Martel+Sans:wght@700&display=swap');

*{
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Martel Sans', sans-serif;
    background-color: black;
}

.main{
    background-image: url("assets/images/background.jpg");
    height: 90vh;
    background-position: center center;
    background-size: max(1000px 100vw);
    background-repeat: no-repeat;
    position: relative;
}

.main .box {
    height: 90vh;
    width: 100%;
    position: absolute;
    top: 0;
    opacity: 0.7;
    background-color: black;
}

nav {
    max-width: 75vw;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 62px;
}

nav img {
    /* color: red; */
    width: 150px;
    position: relative;
    z-index: 10;
}

nav button{
    position: relative;
    z-index: 10;
}

.hero {
    height: calc(100% - 62px);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    position: relative;
    gap: 25px;
    padding: 30px;
    text-align: center;
    max-width: 75vw;
    margin: auto;
}

.hero> :first-child{
    font-weight: bold;
    font-size: 48px;
    text-align: center;
}

.hero> :nth-child(2){
    font-weight: 400;
    font-size: 24px;
    text-align: center;
}

.hero> :nth-child(3){
    font-weight: 400;
    font-size: 20px;
    text-align: center;
}

.separation{
    height: 7px;
    background-color: rgb(48, 48, 48);
}

.btn{
    padding: 8px 12px;
    background-color: #fff;
    border-radius: 4px;
    border: none;
}

.btn-red{
    background-color: red;
    color: white;
    font-size: 18px;
    padding: 10px 23px;
    font-weight: 550;
}

.btn-red-sm{
    background-color: red;
    color: white;
    font-size: 15px;
}

.main input{
    padding: 13px 100px 13px 10px;
    font-size: 12px;
    border-radius: 4px;
    background-color: rgba(23,23,23,0.7);
    font-weight: 900;
    border: 1px solid rgba(246,238,238,0.3);
}

.hero-buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 23px;
}