@import url('https://fonts.googleapis.com/css2?family=Martel+Sans:wght@700&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Martel Sans', sans-serif;
}

body {
    background-color: black;
}

.main{
    background-image: url("assets/images/background.jpg");
    height: 700px;
    background-position: center center;
    background-size: max(1200px, 100vw);
    background-repeat: no-repeat;
    position: relative;
}

.main .box {
    height: 700px;
    width: 100%;
    position: absolute;
    top: 0;
    opacity: 0.7;
    background-color: black;
}

nav {
    max-width: 60vw;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100px;
}

nav img {
    color: red;
    width: 130px;
    position: relative;
    z-index: 10;
}

nav button{
    position: relative;
    z-index: 10;
}

.hero {
    height: calc(100% - 100px);
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: white;
    position: relative;
    gap: 23px;
    padding: 30px 30px 0 30px;
    text-align: center;
    margin-bottom: -35px;
}

.hero> :nth-child(1){
    font-weight: bolder;
    font-size: 48px;
    text-align: center;
}

.hero> :nth-child(2){
    font-weight: 400;
    font-size: 24px;
    text-align: center;
}

.hero> :nth-child(3){
    font-weight: 400;
    font-size: 20px;
    text-align: center;
}

.separation{
    height: 7px;
    background-color: rgb(48, 48, 48);
    position: relative;
    z-index: 20;
}

.btn{
    padding: 5px 12px;
    background-color: rgba(245, 245, 245, 0.125);
    border-radius: 4px;
    color: white;
    border: 1px solid white;
    cursor: pointer;
    font-weight: 550;
}

.btn-red{
    background-color: red;
    font-size: 18px;
    padding: 7px 23px;
    font-weight: 550;
    border: none;
}

.btn-red-sm{
    background-color: red;
    font-size: 15px;
    border: none;
}

.main input{
    padding: 13px 100px 13px 10px;
    font-size: 12px;
    color: white;
    border-radius: 4px;
    background-color: rgba(23,23,23,0.7);
    border: 1px solid rgba(246,238,238,0.3);
}

.hero-buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.first {
    display: flex;
    justify-content: center;
    max-width: 70vw;
    margin: auto;
    color: white;
    align-items: center;
    padding-bottom: 50px;
}

.secImg{
    position: relative;
}

.secImg img {
    width: 555px;
    position: relative;
    z-index: 10;
}

.secImg video {
    position: absolute;
    top: 120px;
    right: 80px;
    width: 400px;
}

.third .secImg video {
    position: absolute;
    top: 65px;
    right: 100px;
    width: 350px;
}

section.first > div{
    display: flex;
    flex-direction: column;
    padding: 34px 0;
}

section.first > div :nth-child(1){
    font-size: 48px;
    font-weight: bolder;
}

section.first > div :nth-child(2){
    font-size: 24px;
    font-weight: bolder;
}

.faq{
    color: white;
    padding: 34px;
    font-size: 20px;
    margin-top: 30px;
}

.faq h2 {
    text-align: center;
    font-size: 48px;
}

.faq-box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(31, 31, 31);
    padding: 20px;
    max-width: 75vw;
    margin: 15px auto;
    cursor: pointer;
    transition: all 0.15s ease;
}

.faq-box:hover{
    background-color: #2d2d2d;
}

.faq-box i{
    font-size: 25px;
}

.faq-hero {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    position: relative;
    gap: 15px;
    padding: 30px;
    text-align: center;
}

.faq-hero span{
    font-size: 18px;
}

.faq-hero input{
    padding: 13px 100px 13px 10px;
    font-size: 12px;
    color: white;
    border-radius: 4px;
    background-color: rgba(23,23,23,0.7);
    border: 1px solid rgba(246,238,238,0.3);
}

footer{
    color: white;
    max-width: 75vw;
    margin: 80px auto;
}

footer .questions{
    padding-bottom: 15px;
}

footer h5{
    font-size: 14px;
    margin: 30px 0;
}

.footer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 23px;
}

.footer a{
    font-size: 14px;
    color: white;
}

@media screen and (max-width: 1300px) {
    nav {
        max-width: 90vw;
    }

    .hero-buttons{
        flex-direction: column;
    }

    .hero{
        margin-bottom: -42px;
        gap: 15px;
    }

    .first{
        flex-wrap: wrap;
    }
    
    .faq{
        font-size: 15px;
    }
    .faq h2 {
        font-size: 30px;
    }
    .secImg img {
        width: 305px;
    }
    
    .secImg video {
        top: 85px;
        right: 40px;
        width: 220px;
    }
    
    .third .secImg video {
        top: 55px;
        right: 50px;
        width: 180px;
    }
    
    .hero> :nth-child(1){
        font-size: 32px;
    }
    
    .hero> :nth-child(2){
        font-size: 18px;
    }
    
    .hero> :nth-child(3){
        font-size: 18px;
    }
    
    section.first > div :nth-child(1){
        font-size: 30px;
    }
    
    section.first > div :nth-child(2){
        font-size: 15px;
    }

    footer{
        max-width: 90vw;
        margin: 50px auto;
    }

    .footer{
        grid-template-columns: 1fr 1fr;
        gap: 10px;
    }
}
